body {
  padding-top: 0x;
	
}

.page-header{
	background-color: black;
	color: azure;
	
}

#form {
    width: 50%;
    margin: auto;
}



input {
    line-height: 1.5em;
}

#weather {
    width: 80%;
    margin: auto;
}   